---
import Layout from "@layouts/Layout.astro";
import image1 from "../assets/image1.png";
import vector1 from "../assets/vector1.png";
import vector2 from "../assets/vector2.png";
import image2 from "../assets/image2.png";
import image3 from "../assets/image3.png";
import image4 from "../assets/image4.png";
import image5 from "../assets/image5.png";
import image6 from "../assets/image6.png";
import profile from "../assets/profile.png";
import line from "../assets/line.png";
import cube from "../assets/cube-vector.png";
---

<Layout title="Habesha.">
  <main class="bg-rose-wood font-seriif overflow-auto">
    <section class="container-1 flex py-6 px-2 md:p-20 h-full">
      <div
        class="lg:bg-[url('../src/assets/image10.png')] bg-no-repeat lg:bg-[length:710px_883px] bg-top md:basis-6/12 text-white pt-9 pr-2 md:flex flex-col justify-between md:space-y-8 space-y-7"
      >
        <h1
          class="lg:bg-rose-wood lg:bg-opacity-50 text-3xl md:text-7xl lg:text-[88px] font-thin leading-none md:mt-10 lg:w-[130%] md:tracking-wide md:z-40"
        >
          Taste the authenctic saudi Cuisine
        </h1>
        <p class="text-xs font-thin md:text-2xl">
          Among the best Saudi chef's in the world, <br /> serving you something
          beyond flavor
        </p>
        <div class="text-center">
          <button
            class="border-sheen-gold border-2 md:w-32 cursor-pointer p-3 font-thin text-sheen-gold"
          >
            Our Menu</button
          >
        </div>

        <div class="pt-7 invisible lg:visible">
          <img class="w-16" src={vector2} alt="" />
        </div>
      </div>
      <div class="basis-6/12 invisible md:visible md:-ml-20">
        <img class="w-6 h-6 float-right" src={vector1} alt="" />
        <img class="" src={image1} alt="" />
      </div>
    </section>

    <!-- beginning of the second section -->
    <section class="container-2 flex justify-between p-4">
      <div class="image w-1/3 md:py-20 md:pl-20">
        <img class="" src={image2} alt="" />
      </div>
      <div
        class="content lg:bg-[url('../src/assets/image10.png')] bg-no-repeat md:bg-[length:550px_800px] bg-right text-white flex flex-col w-2/3 md:space-y-8 justify-between md:py-20 md:pr-20 pl-8"
      >
        <h1
          class="text-2xl md:text-[30px] lg:text-[60px] font-thin md:leading-loose"
        >
          A distinctive dining destination inspired by the culture.
        </h1>
        <p class="text-xl invisible md:visible">
          Experience a Ballad old town of Jeddah vibes
        </p>

        <button class="bg-sheen-gold p-3 w-36 text-rose-wood">
          Our Venue</button
        >

        <div class="md:flex hidden md:space-x-8">
          <img class="w-36 h-40" src={image3} alt="" />
          <img class="w-36 h-40" src={image4} alt="" />
          <img class="w-36 h-40" src={image5} alt="" />
        </div>
        <div class="flex flex-row justify-between invisible md:visible">
          <img class="w-[400px] h-0.5" src={line} alt="" />
          <img class="w-16 h-16 -mt-20 hidden lg:visible" src={cube} alt="" />
        </div>
      </div>
    </section>

    <section class="container-3 md:p-14 flex flex-row justify-between">
      <div class="bg-sheen-gold p-11 lg:p-28 md:w-[561px] md:h-[555px]">
        <svg
          aria-hidden="true"
          class="w-3 h-3"
          viewBox="0 0 24 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
            fill="currentColor"></path>
        </svg>
        <blockquote>
          <p class="text-xl text-space-cadet">
            "You can't go wrong with Chicken Mandi, I had it twice. The chicken
            was cooked perfectly, juicy & soft (usually mandi chicken is a bit
            dry). I would defiantly recommend it."
          </p>
        </blockquote>
        <div class="flex justify-between pt-20 items-end lg:pb-6">
          <p class="text-space-cadet">Khalid Al Dawsry <br />Jedah, Saudi</p>
          <img class="" src={profile} alt="" />
        </div>
        <hr class="dark-cyan invisible lg:visible" />
      </div>
      <div class="md:h-[555px] md:w-[769px] hidden lg:block">
        <img class="w-full h-full" src={image6} alt="" />
      </div>
    </section>

    <!-- before footer container -->
    <section
      class="container-4 p-11 lg:bg-[url('../src/assets/image7.png')] bg-center bg-no-repeat bg-cover md:h-[500px] flex flex-col items-center"
    >
      <img class="w-24 h-28" src={vector1} alt="" />

      <h1 class="text-white lg:text-6xl md:p-11">
        A Unique menu that reflects the true essence of the Saudi cuisine
      </h1>

      <button class="bg-sheen-gold p-3"> Our Menu</button>
    </section>
  </main>
</Layout>
